<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to KknockBoard</h1>
        <div>
            <a href="/Board/kknock_Writing">글 싸지르기</a>
        </div>
        <% for (const post of posts) { %>
            <div>
                <a href="/Board/kknock/<%= post.id %>"><%= post.title %></a>
            </div>
        <% } %>
</body>
</html>