<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup Page</title>
  </head>
  <body>
    <form action="sign/Checking" method="POST">
      <div class="form-group">
        <label for="login_id">ID:</label>
        <input type="text" id="login_id" name="login_id" required />
      </div>
      <div class="form-group">
        <label for="login_pw">Password:</label>
        <input type="password" id="login_pw" name="login_pw" required />
      </div>
      <div class="form-group">
        <label for="user_name">Name:</label>
        <input type="text" id="user_name" name="user_name" required />
      </div>
      <button type="submit">SignUp!</button>
    </form>
  </body>
</html>
